@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>NetCore - Anasayfa</title>
    <link href="~/shop/css/styles.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/de4ce4988e.js" crossorigin="anonymous"></script>
</head>




<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                @if (ViewBag.Dil != null)
                {
                    @if (ViewBag.Kid != null)
                    {
                        <li class="nav-item"><a class="nav-link" asp-action="ProfilSayfasi" asp-controller="Kullanici" asp-route-kid="@ViewBag.Kid"> <i class="fas fa-user"></i> @ViewBag.Dil.Hesap </a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="KullaniciUrunListele" asp-controller="Urun" asp-route-kid="@ViewBag.Kid"> <i class="fas fa-clipboard-check"></i> @ViewBag.Dil.UrunListesi </a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Sepet" asp-controller="Urun" asp-route-kid="@ViewBag.Kid"><i class="fas fa-shopping-cart"></i> @ViewBag.Dil.Sepetim</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Iletisim" asp-controller="Site" asp-route-kid="@ViewBag.Kid"><i class="fas fa-phone-square-alt"></i> @ViewBag.Dil.Iletisim</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="KategorilerYeni" asp-controller="Urun" asp-route-Kid="@ViewBag.Kid"><i class="fa fa-building-o"></i> @ViewBag.Dil.Kategoriler</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Giris" asp-controller="Kullanici"><i class="fas fa-sign-in-alt"></i> @ViewBag.Dil.CikisYap</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" asp-action="Giris" asp-controller="Kullanici"> <i class="fas fa-user"></i> @ViewBag.Dil.Hesap</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Giris" asp-controller="Kullanici"> <i class="fas fa-clipboard-check"></i> @ViewBag.Dil.UrunListesi</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Giris" asp-controller="Kullanici"><i class="fas fa-shopping-cart"></i> @ViewBag.Dil.Sepetim</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Iletisim" asp-controller="Site"><i class="fas fa-phone-square-alt"></i>  @ViewBag.Dil.Iletisim</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="KategorilerYeni" asp-controller="Urun"><i class="fa fa-building-o"></i>  @ViewBag.Dil.Kategoriler</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Giris" asp-controller="Kullanici"><i class="fas fa-sign-in-alt"></i> @ViewBag.Dil.GirisYap</a></li>
                    }

                }
                else
                {

                    @if (ViewBag.Kid != null)
                    {
                        <li class="nav-item"><a class="nav-link" asp-action="ProfilSayfasi" asp-controller="Kullanici" asp-route-kid="@ViewBag.Kid"> <i class="fas fa-user"></i> Hesabım</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="KullaniciUrunListele" asp-controller="Urun" asp-route-kid="@ViewBag.Kid"> <i class="fas fa-clipboard-check"></i> Ürün Listesi</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Sepet" asp-controller="Urun" asp-route-kid="@ViewBag.Kid"><i class="fas fa-shopping-cart"></i> Sepetim</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Iletisim" asp-controller="Site" asp-route-kid="@ViewBag.Kid"><i class="fas fa-phone-square-alt"></i> İletişim</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="KategorilerYeni" asp-controller="Urun" asp-route-Kid="@ViewBag.Kid"><i class="fa fa-building-o"></i> Kategoriler</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Giris" asp-controller="Kullanici"><i class="fas fa-sign-in-alt"></i> Çıkış Yap</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" asp-action="Giris" asp-controller="Kullanici"> <i class="fas fa-user"></i> Hesabım</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Giris" asp-controller="Kullanici"> <i class="fas fa-clipboard-check"></i> Ürün Listesi</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Giris" asp-controller="Kullanici"><i class="fas fa-shopping-cart"></i> Sepetim</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Iletisim" asp-controller="Site"><i class="fas fa-phone-square-alt"></i> İletişim</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="KategorilerYeni" asp-controller="Urun"><i class="fa fa-building-o"></i> Kategoriler</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Giris" asp-controller="Kullanici"><i class="fas fa-sign-in-alt"></i> Giris Yap</a></li>
                    }

                }


            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row" style=" justify-content: space-between;">

        @if (ViewBag.Site == null)
        {
            <div class="Logo"><img style=" height: 200px; width: 200px; margin-top: 10px;" class="" src="https://via.placeholder.com/200x200" /></div>
        }
        else
        {
            <div class="Logo"><img style=" height: 200px; width: 200px; margin-top: 10px;" class="" src="@ViewBag.Site.LogoUrl" /></div>
        }

    <div class="Sepet" style="float: right; display: flex; margin-top: 10px;">
        @if (ViewBag.Kid != null)
        {
            @if (ViewBag.Sepet > 0)
            {
        <a class="btn btn-primary" style="width: 100%; height: 30%; margin-right: 3px;" asp-action="Sepet" asp-controller="Urun" asp-route-kid="@ViewBag.Kid">Sepet (@ViewBag.Sepet) <i class="fas fa-shopping-cart"></i></a>


                @if (ViewBag.Dil != null)
                {
                    <form method="post" asp-action="KurSecim" asp-route-kid="@ViewBag.Kid" asp-route-dilid="@ViewBag.Dil.Id" role="form">
                        @Html.DropDownList("Birim", ViewBag.Kursecim as SelectList)
                        <input class="btn btn-primary" type="submit" value="Kur Seç" />
                    </form> }
                else
                {
                    <form method="post" asp-action="KurSecim" asp-route-kid="@ViewBag.Kid" role="form">
                        @Html.DropDownList("Birim", ViewBag.Kursecim as SelectList)
                        <input class="btn btn-primary" type="submit" value="Kur Seç" />
                    </form>
                }

                @if (ViewBag.Kur != null)
                {
                    <form method="post" asp-action="DilSecim" asp-route-kid="@ViewBag.Kid" asp-route-kurid="@ViewBag.Kur.Id" role="form" style=" margin-right: 3px;">
                        @Html.DropDownList("Adi", ViewBag.Dilsecim as SelectList)
                        <input class="btn btn-primary" type="submit" value="Dil Seç" />
                    </form>

                }
                else
                {
                    <form method="post" asp-action="DilSecim" asp-route-kid="@ViewBag.Kid" role="form" style=" margin-right: 3px;">
                        @Html.DropDownList("Adi", ViewBag.Dilsecim as SelectList)
                        <input class="btn btn-primary" type="submit" value="Dil Seç" />
                    </form>
                }

            }
            else
            {
                <a class="btn btn-primary" style="width: 100%;  height: 30%; margin-right: 3px; " asp-action="Sepet" asp-controller="Urun" asp-route-kid="@ViewBag.Kid">Sepet <i class="fas fa-shopping-cart"></i></a>

                @if (ViewBag.Dil != null)
                {
                    <form method="post" asp-action="KurSecim" asp-route-kid="@ViewBag.Kid" asp-route-dilid="@ViewBag.Dil.Id" role="form">
                        @Html.DropDownList("Birim", ViewBag.Kursecim as SelectList)
                        <input class="btn btn-primary" type="submit" value="Kur Seç" />
                    </form> }
                else
                {
                    <form method="post" asp-action="KurSecim" asp-route-kid="@ViewBag.Kid" role="form">
                        @Html.DropDownList("Birim", ViewBag.Kursecim as SelectList)
                        <input class="btn btn-primary" type="submit" value="Kur Seç" />
                    </form>
                }

                @if (ViewBag.Kur != null)
                {
                    <form method="post" asp-action="DilSecim" asp-route-kid="@ViewBag.Kid" asp-route-kurid="@ViewBag.Kur.Id" role="form" style=" margin-right: 3px;">
                        @Html.DropDownList("Adi", ViewBag.Dilsecim as SelectList)
                        <input class="btn btn-primary" type="submit" value="Dil Seç" />
                    </form> }
                else
                {
                    <form method="post" asp-action="DilSecim" asp-route-kid="@ViewBag.Kid" role="form" style=" margin-right: 3px;">
                        @Html.DropDownList("Adi", ViewBag.Dilsecim as SelectList)
                        <input class="btn btn-primary" type="submit" value="Dil Seç" />
                    </form>

                }

            }


        }
        else
        {
            <a class="btn btn-primary" style="width: 100%;  height: 30%; margin-right: 3px; " asp-action="Giris" asp-controller="Kullanici">Sepet <i class="fas fa-shopping-cart"></i></a>
            @if (ViewBag.Kur != null)
            {
                <form method="post" asp-action="DilSecim" asp-route-kurid="@ViewBag.Kur.Id" role="form" style=" margin-right: 3px;" >
                    @Html.DropDownList("Adi", ViewBag.Dilsecim as SelectList)
                    <input class="btn btn-primary" type="submit" value="Dil Seç" />
                </form> }
            else
            {
                <form method="post" asp-action="DilSecim" role="form" style=" margin-right: 3px;">
                    @Html.DropDownList("Adi", ViewBag.Dilsecim as SelectList)
                    <input class="btn btn-primary" type="submit" value="Dil Seç" />
                </form>

            }
            @if (ViewBag.Dil != null)
            {
                <form method="post" asp-action="KurSecim" asp-route-dilid="@ViewBag.Dil.Id" role="form">
                    @Html.DropDownList("Birim", ViewBag.Kursecim as SelectList)
                    <input class="btn btn-primary" type="submit" value="Kur Seç" />
                </form> }
            else
            {
                <form method="post" asp-action="KurSecim" role="form">
                    @Html.DropDownList("Birim", ViewBag.Kursecim as SelectList)
                    <input class="btn btn-primary" type="submit" value="Kur Seç" />
                </form>
            }

        }






    </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="carousel slide my-4" id="carouselExampleIndicators" data-ride="carousel">
                <ol class="carousel-indicators">

                    @for (int i = 0; i < ViewBag.Slide.Count; i++)
                    {
                        if (i == 0)
                        {
                            <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                        }
                        else
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                        }
                    }




                </ol>
                <div class="carousel-inner" role="listbox">
                    @{
                        int x = 0;

                        foreach (Slide Slide in ViewBag.Slide)
                        {
                            if (x == 0)
                            {
                                <div class="carousel-item active "><img style="width: 1200px; height: 500px;" class="d-block img-fluid " src="@Slide.ResimUrl" /></div>
                                x++;
                            }
                            else
                            {
                                <div class="carousel-item "><img style="width: 1200px; height: 500px;" class="d-block img-fluid" src="@Slide.ResimUrl" /></div>
                            }
                        }
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row">

                <div class="col-sm">
                    <div class="card h-100" style="background: #ffec07; min-height: 150px; padding-top: 45px; box-shadow: 0px 0px 4px 2px;">
                        <p style="text-align:center">
                            <i style="height: 35px; font-size: 30px;" class="fas fa-recycle"></i><br />
                            @if (ViewBag.Dil != null)
                            {
                                <label>@ViewBag.Dil.Iade </label>
                            }
                            else
                            {
                                <label>30 Gün İçinde İade </label>
                            }

                        </p>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card h-100" style="background: #bf61f1; min-height: 150px; padding-top: 45px; box-shadow: 0px 0px 4px 2px;">
                        <p style="text-align:center">
                            <i style="height: 35px; font-size: 30px;" class="fas fa-truck"></i><br />

                            @if (ViewBag.Dil != null)
                            {
                                <label>@ViewBag.Dil.UcretsizKargo </label>
                            }
                            else
                            {
                                <label>Ücretsiz Kargo </label>
                            }

                        </p>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card h-100" style="background: #537ef5; min-height: 150px; padding-top: 45px;box-shadow: 0px 0px 4px 2px;">
                        <p style="text-align:center">
                            <i style="height: 35px; font-size: 30px;" class="fas fa-lock"></i><br />
                            @if (ViewBag.Dil != null)
                            {
                                <label>@ViewBag.Dil.GuvenliAlisveris </label>
                            }
                            else
                            {
                                <label>Güvenli Alışveriş </label>
                            }
                        </p>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card h-100" style="background: #69f592; min-height: 150px; padding-top: 45px; box-shadow: 0px 0px 4px 2px;">
                        <p style="text-align:center">
                            <i style="height: 35px; font-size: 30px;" class="fas fa-gift"></i><br />
                            @if (ViewBag.Dil != null)
                            {
                                <label>@ViewBag.Dil.YeniUrunler </label>
                            }
                            else
                            {
                                <label>Yeni Ürünler</label>
                            }

                        </p>
                    </div>
                </div>

            </div>


            @if (ViewBag.Dil != null)
            {
        <h3 style="text-align:center; margin-top: 20px; margin-bottom: 20px;">@ViewBag.Dil.EnYeni</h3>
       
            }
            else
            {
                <h3 style="text-align:center; margin-top: 20px; margin-bottom: 20px;">EN SON ÜRÜNLER</h3>
            }


            <div class="row" style=" background: #284f7d; padding-top: 10px; margin-bottom: 20px;     box-shadow: -1px 2px 6px 2px;">

                @foreach (Urun item in ViewBag.YeniUrunler)
                {
                    foreach (Fiyat fiyat in ViewBag.Fiyat)
                    {

                        if (item.FiyatId == fiyat.Id)
                        {
                            @if (ViewBag.Kid != null && ViewBag.Admin != null)
                            {
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="card h-100">
                                        <a class="small text-white stretched-link" asp-action="UrunDetay" asp-controller="Urun" asp-route-kid="@ViewBag.Kid" asp-route-uid="@item.Id" asp-route-kullanici="@ViewBag.Admin"> <img class="card-img-top" src="@item.ResimUrl" alt="..." /> </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#!">@item.UrunAdi</a>
                                            </h4>
                                            <h5>
                                                @fiyat.Satis  @if (ViewBag.Kur != null) { @ViewBag.Kur.Birim } else { <label> TL</label>}
                                            </h5>
                                            <p class="card-text"> @item.Aciklama </p>
                                        </div>
                                        <div class="card-footer" style="z-index: 99;">
                                            @if (item.Adet > 0)
                                            {
                                                <a style="z-index: 99; float: right;" class="btn btn-primary" asp-action="SepetEkle" asp-controller="Urun" asp-route-uid="@item.Id" asp-route-kid="@ViewBag.Kid"> <i class="fas fa-cart-plus"></i></a>}
                                            else
                                            {
                                                <label>--STOKTA YOK--</label>
                                            }


                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="card h-100">
                                        <a class="small text-white stretched-link" asp-action="Giris" asp-controller="Kullanici"> <img class="card-img-top" src="@item.ResimUrl" alt="..." /> </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="#!">@item.UrunAdi</a>
                                            </h4>
                                            <h5>@fiyat.Satis  @if (ViewBag.Kur != null){@ViewBag.Kur.Birim} else { <label> TL</label> }</h5>
                                            <p class="card-text"> @item.Aciklama </p>
                                        </div>
                                        <div class="card-footer" style="z-index: 99;">
                                            @if (item.Adet > 0)
                                            {
                                                <a style="z-index: 99; float: right;" class="btn btn-primary" asp-action="Giris" asp-controller="Kullanici"> <i class="fas fa-cart-plus"></i></a>}
                                            else
                                            {
                                                <label>--STOKTA YOK--</label>
                                            }


                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    }
                }

            </div>



            @if (ViewBag.Marka != null)
            {
                <div class="row" style="background: #284f7d; margin-top: 5px; margin-bottom: 50px; box-shadow: -1px 2px 6px 2px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px;">

                    @foreach (Marka item in ViewBag.Marka)
                    {
                        <div class="card h-50" style=" margin-right: 30px;">
                            <img style=" width: 150px; height: 150px;" class="card-img-top" src="@item.ResimUrl" />
                        </div>
                    }

                </div>

            }


            <div class="row">

                <div class="col-sm" style=" background: #284f7d; color: whitesmoke;     margin-right: 2px;">

                    @if (ViewBag.Dil != null)
                    {
                    <h3 style="text-align:center; margin-top: 20px; margin-bottom: 20px;">@ViewBag.Dil.EnCokSatan</h3> 

                    }
                    else
                    {
                <h3 style="text-align:center; margin-top: 20px; margin-bottom: 20px;">EN ÇOK SATAN</h3>
                    }
                    

                    @if (ViewBag.Kid != null)
                    {
                        <a class="btn btn-primary" asp-action="KullaniciUrunListele" asp-controller="Urun" asp-route-kid="@ViewBag.Kid" asp-route-secim=1> <i class="fas fa-eye"></i> Tümünü Görüntüle >> </a>
                    }

                    @if (ViewBag.EnCokSatan != null)
                    {
                        @foreach (Urun item in ViewBag.EnCokSatan)
                        {

                            @if (ViewBag.Kid != null && ViewBag.Admin != null)
                            {

                                <div class="card " style=" margin-bottom: 10px;">
                                    <a class="small text-white stretched-link" asp-action="UrunDetay" asp-controller="Urun" asp-route-kid="@ViewBag.Kid" asp-route-uid="@item.Id" asp-route-kullanici="@ViewBag.Admin"> <img class="card-img-top" src="@item.ResimUrl" alt="..." /> </a>
                                </div>

                            }
                            else
                            {

                                <div class="card" style=" margin-bottom: 10px;">
                                    <a class="small text-white stretched-link" asp-action="Giris" asp-controller="Kullanici"> <img class="card-img-top" src="@item.ResimUrl" alt="..." /> </a>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <h2>--ÜRÜN YOK--</h2>
                    }
                </div>

                <div class="col-sm" style=" background: #284f7d; color: whitesmoke; margin-right: 2px;">


                    @if (ViewBag.Dil != null)
                    {
                        <h3 style="text-align:center; margin-top: 20px; margin-bottom: 20px;">@ViewBag.Dil.EnCokGoruntulenen</h3>

                    }
                    else
                    {
                        <h3 style="text-align:center; margin-top: 20px; margin-bottom: 20px;">EN ÇOK GÖRÜNTÜLENEN</h3>
                    }


                    @if (ViewBag.Kid != null)
                    {
                        <a class="btn btn-primary" asp-action="KullaniciUrunListele" asp-controller="Urun" asp-route-kid="@ViewBag.Kid" asp-route-secim=2> <i class="fas fa-eye"></i> Tümünü Görüntüle >> </a>
                    }

                    @if (ViewBag.EnCokGoruntulenen != null)
                    {
                        @foreach (Urun item in ViewBag.EnCokGoruntulenen)
                        {

                            @if (ViewBag.Kid != null && ViewBag.Admin != null)
                            {

                                <div class="card" style=" margin-bottom: 10px;">
                                    <a class="small text-white stretched-link" asp-action="UrunDetay" asp-controller="Urun" asp-route-kid="@ViewBag.Kid" asp-route-uid="@item.Id" asp-route-kullanici="@ViewBag.Admin"> <img class="card-img-top" src="@item.ResimUrl" alt="..." /> </a>
                                </div>

                            }
                            else
                            {

                                <div class="card " style=" margin-bottom: 10px;">
                                    <a class="small text-white stretched-link" asp-action="Giris" asp-controller="Kullanici"> <img class="card-img-top" src="@item.ResimUrl" alt="..." /> </a>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <h2>--ÜRÜN YOK--</h2>
                    }
                </div>

                <div class="col-sm" style=" background: #284f7d; color: whitesmoke; margin-right: 2px;">


                    @if (ViewBag.Dil != null)
                    {
                        <h3 style="text-align:center; margin-top: 20px; margin-bottom: 20px;">@ViewBag.Dil.EnYeni</h3>

                    }
                    else
                    {
                        <h3 style="text-align:center; margin-top: 20px; margin-bottom: 20px;">EN YENİLER</h3>
                    }



                    @if (ViewBag.Kid != null)
                    {
                        <a class="btn btn-primary" asp-action="KullaniciUrunListele" asp-controller="Urun" asp-route-kid="@ViewBag.Kid" asp-route-secim=3>  <i class="fas fa-eye"></i> Tümünü Görüntüle >> </a>
                    }
                    @if (ViewBag.EnYeni != null)
                    {
                        @foreach (Urun item in ViewBag.EnYeni)
                        {

                            @if (ViewBag.Kid != null && ViewBag.Admin != null)
                            {

                                <div class="card" style=" margin-bottom: 10px;">
                                    <a class="small text-white stretched-link" asp-action="UrunDetay" asp-controller="Urun" asp-route-kid="@ViewBag.Kid" asp-route-uid="@item.Id" asp-route-kullanici="@ViewBag.Admin"> <img class="card-img-top" src="@item.ResimUrl" alt="..." /> </a>
                                </div>

                            }
                            else
                            {

                                <div class="card" style=" margin-bottom: 10px;">
                                    <a class="small text-white stretched-link" asp-action="Giris" asp-controller="Kullanici"> <img class="card-img-top" src="@item.ResimUrl" alt="..." /> </a>
                                </div>

                            }
                        }

                    }
                    else
                    {
                        <h2>--ÜRÜN YOK--</h2>
                    }
                </div>
            </div>



        </div>
    </div>
</div>


<footer style=" box-shadow: 12px 1px 3px 3px;">
    <div class="row" style="background-color: #284f7d; margin-top: 150px; height: 30%;  font-weight: bold;     margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;">
        <div style="color:whitesmoke" class="col-sm">
            <img  src="@ViewBag.Site.LogoUrl"/>
            <br />
            @if (ViewBag.Site.Facebook == true)
            {
                <a href="@ViewBag.Site.FacebookUrl"> <i class="fab fa-facebook-square"></i> </a>
            }
            @if (ViewBag.Site.Twitter == true)
            {
                <a href="@ViewBag.Site.TwitterUrl"> <i class="fab fa-twitter-square"></i> </a>
            }
            @if (ViewBag.Site.Instagram == true)
            {
                <a href="@ViewBag.Site.InstagramUrl"> <i class="fab fa-instagram-square"></i> </a>
            }

        </div>
        <div style="color:whitesmoke"class="col-sm">Site Haritası</div>
        <div style="color:whitesmoke" class="col-sm">Kategoriler</div>
        <div style="color:whitesmoke" class="col-sm">Abone Ol

            <form method="post" asp-action="AboneEkle" asp-controller="Kullanici" asp-route-kid="@ViewBag.Kid" role="form">
                <input class="form-control py-4" name="Email" id="Email" type="text" placeholder="E-Mail" />
                <input class="btn btn-primary" type="submit" value="Abone Ol" />
            </form>
</div>
    </div>
    <div style="margin-left: 30px;font-size: 13px;" class="row"><label>2021 - NetCore </label></div>
</footer>


<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="~/shop/js/scripts.js"></script>
