@model IEnumerable<NetCore.Models.Slide>


<head>
    <title>Slide Listesi</title>
</head>


<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Slide Listesi
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Önizleme</th>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.ResimUrl)</th>
                        <th>İşlem</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        
                            <tr>
                                <td style=" width: 200px; height: 200px;"><img style=" width: 200px; height: 200px;" src="@item.ResimUrl"/></td>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.ResimUrl)</td>
                                
                                <td>
                                    <a asp-action="SlideSil" asp-controller="Site" asp-route-id="@item.Id">Sil</a> 
                                </td>
                            </tr>
                        
                    }
                </tbody>


            </table>

            <p>
                <a class="btn btn-primary" asp-action="SlideEkle" asp-controller="Site">Slide Ekle</a>
            </p>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>




